<ion-header>

  <ion-navbar>
    <ion-title>Log Out</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col>
        <p>Are you sure you want to log out?</p>
        <p *ngIf="unfinished">When you log out, the Gift that you have started making but that you have not sent will be discarded.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="logout-col">
        <button ion-button block (click)="logout()">Log out</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="cancel-col">
        <button ion-button color="danger" (click)="cancel()" *ngIf="!unfinished">Cancel</button>
        <button ion-button color="danger" (click)="review()" *ngIf="unfinished">Return to Incomplete Gift</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
