<ion-header>

  <ion-navbar>
    <ion-title>Gifts for others</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterGifts($event)"></ion-searchbar>

  <ion-list inset>

    <ion-item (click)="startNew()" *ngIf="!unfinished">
      <ion-icon name="add-circle" item-start color="secondary"></ion-icon>
      Make a new gift
      <button ion-button clear item-end>Start</button>
    </ion-item>

    <ion-item-divider color="light" *ngIf="unfinished">Unsent</ion-item-divider>

    <ion-item (click)="startNew()" *ngIf="unfinished">
      <ion-icon name="add-circle" item-start color="secondary"></ion-icon>
      {{unfinishedTitle}}
      <button ion-button clear item-end>Continue</button>
    </ion-item>

    <ion-item-divider color="light">Already sent</ion-item-divider>

    <ion-item *ngFor="let gift of gifts" (click)="review(gift)">
      <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
      <h2>{{ gift.post_title }}</h2>
      <p>Sent to {{ gift.recipient.nickname }} at {{ gift.post_date }}</p>
      <button ion-button clear item-end>Review</button>
    </ion-item>
  </ion-list>

</ion-content>
