page-reviewmygift {

    p, h2 {
        color: white;
    }

    .sender {
        
        padding: 40px 0 20px 0;

        .sender-icon {
            text-align: right;
            font-size: 50px;
            padding-right: 20px;
            color: rgb(255, 220, 75);
        }

    }

    .parts {
        text-align: center;
        
        p {
            color: white;
        }

        ion-row {
            padding: 2px 0;
        }

        ion-col {
            padding: 20px 0 10px 0;
        }

        h2 {
            text-transform: uppercase;
        }

        .part-1 {
            background: #333333;
        }

        .part-2 {
            background: #666666;
        }

        .part-3 {
            background: #999999;
        }
    }

    .giftcard {
        
        padding: 0 0 20px 0;

        .giftcard-icon {
            text-align: right;
            font-size: 50px;
            padding-right: 20px;
            color: rgb(255, 220, 75);
        }

    }
}
