<ion-header>

  <ion-navbar>
    <ion-title>Create New Object</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid class="photo">
    <ion-row (click)="editPhoto()">
      <ion-col col-3 class="photo-icon">
        <ion-avatar>
          <img [src]="photoIcon()">
        </ion-avatar>
      </ion-col>
      <ion-col col-9>
        <h2 [innerHTML]="photoTitle()"></h2>
        <p>This can be a new photo or one from your photo gallery that allows your recipient to find the object in the museum</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header (click)="dropdown(0)">
      Name
      <ion-icon [name]="!!this.object.post_title && this.object.post_title.length > 0 ? 'checkmark-circle' : dropdowns[0] ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="dropdowns[0]">
      <p>What do you call this object?</p>
      <ion-input autocomplete="true" spellcheck="true" placeholder="Tap here to give it a name" name="title" [(ngModel)]="object.post_title" required></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="dropdown(1)">
      Location
      <ion-icon [name]="!!this.object.location && !!this.object.location.post_title ? 'checkmark-circle' : dropdowns[1] ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="dropdowns[1]">
      <p>If the recipient cannot find the object, they will be able to ask the app to reveal the location. Choose the most appropriate location from the list.</p>
      <ion-item>
        <ion-label>Tap here to choose</ion-label>
        <ion-select [(ngModel)]="object.location" multiple="false" [selectOptions]="selectOptions">
          <ion-option *ngFor="let l of locations" [value]="l">{{l.post_title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="dropdown(2)">
      More On The Location
      <ion-icon [name]="!!this.object.post_content && this.object.post_content.length > 0 ? 'checkmark-circle' : dropdowns[2] ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="dropdowns[2]">
      <p>This is an extra bit of information about where the object is, e.g. "next to the big red lips".</p>
      <ion-textarea autocomplete="true" spellcheck="true" placeholder="Tap here to add directions" name="directions" [(ngModel)]="object.post_content" required></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-grid class="add">
    <ion-row>
      <ion-col>
        <button ion-button block (click)="add()">Add object</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="danger" (click)="scrapObject()">Start Again</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
