page-newobject {

    .photo {
        
        padding: 40px 0 20px 0;

        .photo-icon {
            text-align: right;
            padding-right: 20px;
        }

    }

    .add {
        text-align: center;
    }

}
