page-reviewmessage {
    .grid, .row {
    // Force grid to fill height of content as this is not set by default
        height: 100%;
    }

    .outer {
        width: 80%;
    }

    .buttons {
        margin-top: 10%;
    }
}
