<ion-header>

  <ion-navbar>
    <ion-title>My Gifts</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> 

</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterGifts($event)"></ion-searchbar>
  
  <ion-list inset>

    <ion-item-divider color="light" *ngIf="true">Unopened</ion-item-divider>


    <ion-item *ngFor="let gift of giftsUnopened()" (click)="open(gift)">
      <ion-icon name="arrow-dropright-circle" item-start color="secondary"></ion-icon>
      <h2>{{ gift.post_title }}</h2>
      <p>From {{ gift.post_author_data.nickname }} at {{ gift.post_date }}</p>
      <button ion-button clear item-end>Open</button>
    </ion-item>

    <ion-item-divider color="light" *ngIf="true">Opened</ion-item-divider>

    <ion-item *ngFor="let gift of giftsOpened()" (click)="review(gift)">
      <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
      <h2>{{ gift.post_title }}</h2>
      <p>From {{ gift.post_author_data.nickname }} at {{ gift.post_date }}</p>
      <button ion-button clear item-end>Review</button>
    </ion-item>
  </ion-list>

</ion-content>
