<ion-header>

  <ion-navbar>
    <ion-title>Unwrap a Gift</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> 

</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterGifts($event)" *ngIf="(giftsUnopened().length + giftsOpened().length) > 1"></ion-searchbar>
  
  <ion-list>
    <ion-item-divider color="light" *ngIf="giftsUnopened().length > 0">Wrapped Gifts</ion-item-divider>

    <ion-item *ngFor="let gift of giftsUnopened()" (click)="open(gift)" text-wrap>
      <ion-icon name="bowtie" item-start color="secondary"></ion-icon>
      <h2>Gift from {{ gift.post_author_data.nickname }}</h2>
      <p>Received at {{ gift.post_date }}</p>
      <button ion-button clear item-end color="secondary">Open</button>
    </ion-item>

    <ion-item-divider color="light" *ngIf="giftsOpened().length > 0">Unwrapped Gifts</ion-item-divider>

    <ion-item *ngFor="let gift of giftsOpened()" (click)="review(gift)" text-wrap>
      <ion-icon name="arrow-dropright-circle" item-start></ion-icon>
      <h2>Gift from {{ gift.post_author_data.nickname }}</h2>
      <p>Received at {{ gift.post_date }}</p>
      <button ion-button clear item-end color="secondary">Review</button>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="giftsUnopened().length == 0 && giftsOpened().length == 0">
    <ion-row justify-content-center align-items-center>
      <div>
        <ion-card>
          <img src="./assets/empty.jpg"/>
          <div class="card-title">You Have No Gifts</div>
        </ion-card>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
