<ion-header>

  <ion-navbar>
    <ion-title>Choose an object</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterObjects($event)"></ion-searchbar>

  <ion-list>
    <ion-item (click)="addNew()">
      <ion-avatar item-start>
        <img src="http://via.placeholder.com/32x32">
      </ion-avatar>
      A new object
      <button ion-button clear item-end color="secondary">Create</button>
    </ion-item>

    <ion-item-divider color="light">Existing objects</ion-item-divider>

    <ng-container *ngFor="let object of objects">
      <ion-item *ngIf="object.ID !== selected" text-wrap>
        <ion-avatar item-start (click)="viewExisting(object)">
          <img [src]="object.post_image">
        </ion-avatar>
        <h2 (click)="viewExisting(object)">{{object.post_title}}</h2>
        <p *ngIf="!!object.location" (click)="viewExisting(object)">In the {{object.location[0].post_title}}</p>
        <button ion-button clear item-end (click)="addExisting(object)" color="secondary">{{buttonAction}}</button>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
